@model Nikhil.CodingChallenge.ViewModels.EmployeeDeductionViewModel
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-10">
        <div>
            <h4>Employee deduction results</h4>
            <hr />

            <div class="form-group">
                @Html.LabelFor(m => m.DeductionPerPaycheck, new { @class = "col-md-5 control-label" })
                <div class="col-md-4">
                    <label class="col-md-4 control-label">@Html.DisplayFor(m => m.DeductionPerPaycheck) </label>
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <label class="col-md-10 control-label">10 % discount for employee name starting with A </label>
                </div>

            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.DeductionPerAnum, new { @class = "col-md-5 control-label" })
                <div class="col-md-4">
                    <label class="col-md-4 control-label">@Html.DisplayFor(m => m.DeductionPerAnum) </label>
                </div>

            </div>

        </div>
    </div>
</div>
